.Footer{
  background-color: #2a2929;
  color: #fff;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;


  ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  li{
    padding: 5px;
    margin: 5px;
    list-style: none;
  }
}